.search {
    width: 400px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d3d3d3;
    background-color: #f9fafb;
    padding: 5px 0 5px 35px;

}

.search:focus {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.search::placeholder {
    color: #464646;
}

.search_icon {
    top: 7px;
    left: 8px;

}