* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.search {
    width: 480px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d3d3d3;
    background-color: #f9fafb;
    padding: 5px 0 5px 35px;

}

@media only screen and (min-width:576px) and (max-width: 992px) {
    .search {
        width: 200px;
    }
}

.search:focus {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.search::placeholder {
    color: #464646;
}

.search_icon {
    top: 7px;
    left: 8px;

}

.navbar-nav {
    gap: 10px;
    flex-wrap: wrap;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: none;
    border-radius: 0px;
    padding: 30px 10px;
    border-top: 2px solid #b91c1c;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
}

/* .nav-link {
    font-size: 25px;
    line-height: 1.5rem;
} */

.nav_link2 {
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 16px;
}

.dropdown-menu li {
    white-space: nowrap;
    margin-right: 8px;
    border-bottom: 1px solid #fca5a5;
    cursor: pointer;
}

.dropdown-menu .dropdown-header {
    padding: 8px 16px;
    color: black;
    font-size: 16px;

}

.fa-phone {
    color: #604b3b;
}

.hotline:hover {
    color: #fca03c;
}

.fa-phone:hover {
    color: #fca03c;
}

.navbar-nav2 {
    gap: 6px;
    flex-wrap: nowrap;
}

.nav_link3 {
    font-size: 16px;
    text-transform: uppercase;
}

/* scroling navbar   */

#primaryNavbar {
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    z-index: 1000;
}

#primaryNavbar.hide {
    top: -100px;
    opacity: 0;
    pointer-events: none;
}

#secondaryNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#secondaryNavbar.show {
    opacity: 1;
    pointer-events: auto;
}

/* body {
    padding-top: 150px;
} */


/* scroling navbar   */

/* header css end  */

/* footer css start  */
footer {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer_img {
    margin-bottom: 30px;
}

.footer_img img {
    width: 120px;
}

.footer_left_content {
    line-height: 30px;
}

.footer_list_container {
    padding-left: 0;
}

.footer_list_container li {
    list-style: none;
    line-height: 32px;

}

.footer_list_container li a {
    text-decoration: none;
    color: #67707b;
    transition: all linear .3s;
}

.footer_list_container li a:hover {
    color: #f27820;
    padding-left: 10px;
    transition: all linear .3s;
}

.social_img img {
    width: 35px;
}

.pay_logo img {
    width: 100%;
}

/* footer css end */