@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

.search {
    width: 480px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d3d3d3;
    background-color: #f9fafb;
    padding: 5px 0 5px 35px;

}

@media only screen and (min-width:576px) and (max-width: 992px) {
    .search {
        width: 200px;
    }
}

.search:focus {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.search::placeholder {
    color: #464646;
}

.search_icon {
    top: 7px;
    left: 8px;

}

.navbar-nav {
    gap: 10px;
    flex-wrap: wrap;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 100%;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border: none;
    border-radius: 0px;
    padding: 30px 10px;
    border-top: 2px solid #b91c1c;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
}

/* .nav-link {
    font-size: 25px;
    line-height: 1.5rem;
} */

.nav_link2 {
    text-transform: uppercase;
    margin-right: 15px;
    font-size: 16px;
}

.dropdown-menu li {
    white-space: nowrap;
    margin-right: 8px;
    border-bottom: 1px solid #fca5a5;
    cursor: pointer;
}

.dropdown-menu .dropdown-header {
    padding: 8px 16px;
    color: black;
    font-size: 16px;

}

.fa-phone {
    color: #604b3b;
}

.hotline:hover {
    color: #fca03c;
}

.fa-phone:hover {
    color: #fca03c;
}

.navbar-nav2 {
    gap: 6px;
    flex-wrap: nowrap;
}

.nav_link3 {
    font-size: 16px;
    text-transform: uppercase;
}

/* scroling navbar   */

#primaryNavbar {
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    z-index: 1000;
}

#primaryNavbar.hide {
    top: -100px;
    opacity: 0;
    pointer-events: none;
}

#secondaryNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

#secondaryNavbar.show {
    opacity: 1;
    pointer-events: auto;
}

/* scroling navbar   */

/* header css end  */

/* banner css start  */
.swiper {
    width: 100%;
    height: 450px;
    max-height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /* -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%; */
}

/* banner css end */

/* feature tab css start  */
#myTab {
    gap: 10px;
    border: none;
}

.card_container {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 200px;
    left: 100px;
    display: none;
    z-index: 99;
}

.card_container:hover .overlay {
    display: flex;
}

.hover_img {
    overflow: hidden;
    position: relative;
}

.show_img {
    height: 360px;
    object-fit: cover;
    transition: transform 1s linear;
}

.hover_img:hover .show_img {
    transform: scale(1.3);
    transition: all linear 1.3s;
}

.hover_img:hover .overlay {
    display: flex;
}

.tabbtn {
    border-radius: 4px;
    background-color: #eeeeee;
    transition: transform 0.5s linear;

}

.tabbtn:hover {
    transform: translateY(-6px);
    transition: transform 0.5s linear;

}


.tabbtn .nav-link {
    color: black;
    font-weight: 600;
}

.tabbtn:hover .nav-link {
    color: #ad171a;
}

.nav-tabs .nav-link.active {
    background-color: #F5E0C3;
    border-color: transparent;
    color: #ad171a;
}

.addToCart {
    width: 50px;
    height: 50px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: #fff7ed;
    transition: transform 0.6s linear;
    cursor: pointer;
}

.addToCart i {
    color: #604b3b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.addToCart:hover {
    transform: translateY(-15px);
    background-color: #c2410c;
    color: white;
    transition: transform 0.6s linear;
}

.addToCart2 {
    margin-right: 10px;
}

.addToCart:hover i {
    color: white;
    transition: all linear .6s;
}

.tooltip-inner {
    background-color: #c2410c;
    color: #fff;
}

/* feature tab css end */

/* popular swiper css start  */
.swiper2 {
    width: 100%;
    height: 200px;
    max-height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.swiper-slide2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
}

.swiper-slide2:hover {
    transform: scale(1.1);
    transition: all linear .3s;
}

.swiper-slide2 img {
    display: block;
    width: 100%;
    height: 100%;
}

/* popular swiper css end  */

/* latest collection css start  */
.collection_text {
    font-weight: 400;
    color: #374151;
    letter-spacing: .1em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.img_hover_overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.img_hover_overlay img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

/* .img_hover_overlay:hover img {
    transform: scale(1.1);
} */

.img_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.img_hover_overlay:hover .img_overlay {
    opacity: 1;
}

/* latest collection css end  */

/* jewellery css start  */
.swiper3 {
    width: 100%;
    height: 350px;
    max-height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}


.jwellery_titel h4 {
    font-weight: 500;
    color: #374151;
    letter-spacing: .1em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
    font-size: 30px;
}

.jwellery_titel p {
    color: #5d4839;
    letter-spacing: 0.025em;
    margin: 20px 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

/* jewellery css end */

/* new arrival css start  */
.swiper4 {
    width: 100%;
    height: 350px;
    max-height: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 25px 0;
    position: relative;
}

.swiper-slide4 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-slide4 img {
    display: block;
    width: 100%;
    height: 100%;
}

.card_container2 {
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
}

.overlay2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    gap: 10px;
    z-index: 10;
    padding: 10px;
    border-radius: 50%;
}

.card_container2:hover .overlay2 {
    display: flex;
}


.hover_arrival_img {
    overflow: hidden;
    position: relative;
}

.show_arrival_img {
    width: 100%;
    height: auto;
    transition: transform 1s ease;
}

.hover_arrival_img:hover .show_arrival_img {
    transform: scale(1.2);
}

.addToCart3 {
    width: 40px;
    height: 40px;
    margin: 0;
}

.addToCart3 i {
    font-size: 14px;
    padding: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* new arrival css end  */

/* blog css start  */
.blog_container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
    border: none;
}

.blog_container img {
    width: 100%;
    height: 130px;
}

/* blog css end */

/* video letter css start  */
.fam {
    font-weight: 400;
    color: #374151;
    letter-spacing: .1em;
    font-family: "Playfair Display", serif;
}

.video_container {
    width: 100%;
    max-width: 1200px;
    margin: 15px auto;
    overflow: hidden;
    cursor: pointer;
}

.video {
    width: 100%;
    height: 480px;
    object-fit: fill;
    display: block;
}

@media only screen and (max-width: 576px) {
    .video {
        height: 300px;
    }
}

.subscribe {
    transition: all linear .3s;
    background-color: black;
    border: none;
    padding: 0 10px;
}

.subscribe:hover {
    background-color: rgb(242, 120, 32);
    transition: all linear .3s;
}

/* video letter css end */

/* footer css start  */
footer {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.footer_img {
    margin-bottom: 30px;
}

.footer_img img {
    width: 120px;
}

.footer_left_content {
    line-height: 30px;
}

.footer_list_container {
    padding-left: 0;
}

.footer_list_container li {
    list-style: none;
    line-height: 32px;

}

.footer_list_container li a {
    text-decoration: none;
    color: #67707b;
    transition: all linear .3s;
}

.footer_list_container li a:hover {
    color: #f27820;
    padding-left: 10px;
    transition: all linear .3s;
}

.social_img img {
    width: 35px;
}

.pay_logo img {
    width: 100%;
}

/* footer css end */
.latest_titel {
    letter-spacing: .1em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}

.arrival_titel {
    letter-spacing: .1em;
    font-family: "Playfair Display", serif;
    text-transform: uppercase;
}